/*Botão de abrir popup*/
.openmodal {
    background: none;
    border: none;
}

/*Edita a imagem contida dentro do botão popup*/
.openmodal .openmodalimg {
    max-width: 50px;
}

.openmodal:hover {
    scale: 1.15;
    transition: 0.2s;
}

dialog {
    max-width: 600px;
    width: 100%;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative; /* Para posicionamento absoluto dos filhos */
    padding-bottom: 10px; /* Espaço para os cards */
}

#menu {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
}
/* Estilo para a área de informações do usuário */
.menutxt {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px !important;
}

/* Container do botão de fechar */
#alinharbotaoclose {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    width: 100%;
    padding: 20px;
    position: absolute; /* Posicionamento absoluto */
    top: 0;
    right: 0;
}

.imgperfil {
    width: 150px;
    height: 100%;
}
.imgperfildiv {
    display: inline-flex;
    margin-top: 30px;
    margin-right: 0px;
    justify-content: flex-start;
    box-shadow: gray 0px 30px 0px;
    border-radius: 100%;
    }

.username {
    color: red;
    text-align: left;
}

.userlevel {
    color: rgb(68, 0, 255);

    
}

.userid {
    color: rgb(0, 255, 64);
    padding-left: 10px;
    padding-right: 10px;
}

/*Edita o botão X que fecha o popup da página de perfil.*/
.buttonclose {
    max-width: 10px;
    background: none;
    border: none;
}

/*Edita especificamente a imagem X e suas propriedades.*/
.buttonclose .btnc {
    width: 15px;
    background-color: transparent;
}

.buttonclose:hover {
    scale: 1.15;
    transition: 0.2s;
}

/* Remove margens extras */
.userid, .username, .userlevel {
    margin: 0;
    white-space: nowrap;
}