body {
    margin: 0;
    background-color: #dcdcdc;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #dcdcdc;
}

.avatar {
    width: 87px;
    height: 84px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo {
    background: linear-gradient(rgb(0, 0, 0));
    margin: 10px;
    width: 160px;
    border: 2px solid black;
    border-radius: 25px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
    pointer-events: none;
}


.btn-add {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    height: 60px;
    width: 130px;
}

.btn-add::before {
    content: "+";
    font-size: 40px;
    margin-right: 10px;
}

.toggle {
    width: 50px;
    height: 26px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: transparent;
    position: relative;
    z-index: 1000;
    cursor: pointer;

}

.toggle::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.3s;
}

.toggle.active::before {
    left: 27px;
}

.todo-container {
    background-color: #4f4f4f;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    margin-top: 20px;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    /* Centraliza horizontalmente */
    height: auto;
    z-index: 1001;
}

.todo-container h2,
.todo-container h3 {

    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #5a5a5a;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.completed span {
    text-decoration: line-through;
}

.completed .task-checkbox:checked::after {
    text-decoration: none;
}

.options {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.task-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fffefe;
    cursor: pointer;
    background-color: #5a5a5a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-checkbox:checked {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-checkbox:checked::after {
    content: "✔";
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

#task-name {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 90%
}

#confirm-task {
    background-color: #4CAF50;
    color: white;
    margin-right: 5px;
    display: wrap;
}

#cancel-task {
    background-color: #f44336;
    color: white;
    display: wrap;

}

.edit-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.save-btn,
.cancel-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.save-btn {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;

}

.cancel-btn {
    background-color: #f44336;
    color: white;
}

.titulotodolist {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 1.7rem;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.edit-options {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 60px;
}

.options {
    position: relative;
}

/* Layout tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 1.5rem;
    }

    .todo-container {
        width: 85%;
        top: 110px;
        padding: 20px;
        margin-top: 40px;
    }

    li {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.5rem;


    }

    .options {
        font-size: 1.5rem;
    }

    .edit-options {
        right: 60px;
    }

    #task-name {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        width: 83%;
        font-size: 1.5rem;
    }

    .edit-input {
        font-size: 1.5rem;
    }

    #confirm-task {
        background-color: #4CAF50;
        color: white;
        margin-right: 3px;
        width: 50px;
        height: 50px;
    }

    #cancel-task {
        background-color: #f44336;
        color: white;
        width: 50px;
        height: 50px;
    }

    .edit-task {
        gap: 10px;
        position: absolute;
        top: -20px;
        right: 60px;
        width: 40px;
        height: 40px;
        font-size: 1.1rem;
    }

    .delete-task {
        gap: 10px;
        position: absolute;
        top: -20px;
        right: 0px;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        font-size: 1.2rem;
    }

}

/* Layout celular */
@media screen and (max-width: 767px) {
    body {
        font-size: 1.3rem;
    }

    .todo-container {
        top: 100px;
        padding: 15px;
    }

    li {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .edit-options {
        position: static;
        margin-top: 5px;
    }

    #task-name {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        width: 83%;
        font-size: 1.5rem;
    }

    .edit-input {
        font-size: 1rem;
    }

    #confirm-task {
        background-color: #4CAF50;
        color: white;
        margin-right: 3px;
        width: 40px;
        height: 40px;
    }

    #cancel-task {
        background-color: #f44336;
        color: white;
        width: 40px;
        height: 40px;

    }

    .edit-input {
        width: 60%;
        max-width: 250px;
        padding: 6px;
        font-size: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .save-btn,.cancel-btn {
        height: 40px;
        font-size: 1rem;
        position: relative;
    }
}