/*Botão de abrir popup*/
.openmodal {
    background: none;
    border: none;
}

/*Edita a imagem contida dentro do botão popup*/
.openmodal .openmodalimg {
    max-width: 50px;
}

.openmodal:hover {
    scale: 1.15;
    transition: 0.2s;
}

dialog {
    max-width: 600px;
    width: 100%;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    padding-bottom: 10px;
}

#menu {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
}

/* Edita a área de informações do usuário */
.menutxt {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px !important;
    margin-left: 30%;
}

/* Edita o botão de fechar */
#alinharbotaoclose {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    top: -10px;
    right: 0px;
}

.imgperfil {
    width: 150px;
    height: 100%;
}

.imgperfildiv {
    display: inline-flex;
    margin-top: -50px;
    margin-right: 0px;
    justify-content: flex-start;
    box-shadow: gray 0px 30px 0px;
    border-radius: 100%;
    position: relative;
}

.username {
    font-size: 20px;
    color: black;
    text-align: center;
}

.userlevel {
    font-size: 20px;
    color: black;
}

.userid {
    font-size: 20px;
    color: black;
}

/*Edita o botão X que fecha o popup da página de perfil*/
.buttonclose {
    max-width: 10px;
    background: none;
    border: none;
}

/*Edita especificamente a imagem X e suas propriedades*/
.buttonclose .btnc {
    width: 15px;
    background-color: transparent;
}

.buttonclose:hover {
    scale: 1.15;
    transition: 0.2s;
}

.userid,
.username,
.userlevel {
    margin: 0;
    white-space: nowrap;
}

.edit-modal-content {
    text-align: center;

}

.edit-input {
    text-align: center;
}


.xpbarclass {
    width: 150px;
    display: inline-flex;
    margin-top: 0px;
    margin-right: 0px;
    justify-content: flex-start;
}